@tailwind base;
@tailwind components;
@tailwind utilities;

.maxWidth {
  max-width: 1110px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.bgblue {
  background-color: #5964e0;
}

.joblist > :not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)) {
  margin-top: 40px;
}
